.container{
    padding: 0;
}

.product{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.product .card{
    width: 19.2%;
    margin-right: 1%;
    margin-bottom: 10px;
}

.product .card:nth-child(5n){
    margin-right: 0;
}

.product .card .card-title{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
